[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=PPSSPP
Exec=/usr/bin/PPSSPPSDL
Icon=/usr/share/icons/ppsspp/ppsspp.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
Name[en_US]=ppsspp
Categories=Game;Simulation;
